.countries_container {
  width: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.countries_container a {
  width: 100%;
}
.country_box {
  width: 100%;
  height: 50px;
  border: 1px solid white;
  font-family: Montserrat;
  font-size: 14px;
  padding: 15px 10px;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all ease 0.3s;
  box-sizing: border-box;
  text-align: right;
}
.index {
  width: 50px;
  display: flex;
  justify-content: flex-start;
}
.country_info {
  display: flex;
  width: 250px;
  justify-content: space-between;
  align-items: center;

}
.country_info img {
  margin: 0px 20px 0px 0px;
}
.country_box:hover {
  margin: 0px 0px 0px 20px;
  background: #2a2c4d;
}
.country_box img {
  margin-left: 2px;
}
img {
  width: 14%;
}
.aboutCountry_container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.input_box{
  width: 70%;
  display: flex;
  justify-content: center;
  position: relative;
  font-family: Montserrat;
  margin: 0px 0px 20px 0px;
}
.input_box input{
  outline: none;
  outline-offset: none;
  border: 1px solid rgb(19, 11, 58);
  height: 25px;
  margin: 0px 10px 0px 0px;
  padding: 10px 20px;
  font-size: 17px;
  border-radius: 20px;
  background: rgb(47, 53, 58);
  color: rgb(182, 178, 178);

}
.input_box button{
  background: rgb(47, 53, 58);
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  color: rgb(182, 178, 178);
  height: 100%;
}
.active:hover{
  background: rgb(65, 69, 71);
  cursor: pointer;
  outline: 5px solid rgb(13, 13, 136);
}
.short_info_container {
  outline: 3px solid rgb(129, 126, 126);
  background: rgb(35, 44, 54);
  flex: 0 1 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px 20px;
}
/* .aboutCountry > * {
  outline: 1px solid white;
} */
.country_short_info {
  font-family: Montserrat;
  color: rgb(178, 214, 245);
  font-size: 20px;
  align-items: center;
  
}
.country_short_info p {
    margin-bottom: 10px;
}
.flag {
  height: 250px;
  width: 450px;
  margin: 0px 0px 20px 0px;
}
.flag img {
    width: 100%;
    height: 100%;
    border: 3px solid black;
}

@media(max-width: 1460px){
  .input_box{
    width: 70%;
  }
}
@media(max-width: 880px){
  .short_info_container{
    display: none;
  }
  .contries{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}