.flags{
  width: 600px;
}
.container_info_about_country{
  width: 100%;
  display: flex;
  justify-content: center;
}
.country_information_box{
  display: flex;
  flex-direction: row;
  font-family: Montserrat;
  width: 1350px;
  color: rgb(179, 177, 177);
}
.name_country{
  font-weight: 500;
}
.country_information{
}
p{
  font-weight: bolder;
  color: rgb(204, 202, 202);
}
span {
  font-weight: 100;
   font-size: 24px;
   color: rgb(179, 177, 177);
   margin: 0px 0px 0px 5px;
}
.flags_block{
  margin: 0px 60px 0px 0px;
}
.name_country{
  font-size: 60px;
}
.info_block{
}
.info_block div{
  margin: 0px 0px 40px 0px;
}
.info{
  display: flex;
  flex-direction: row;
}
.info p{
  max-width: 400px;
}
.info img{

}
.coat_photo{
  display: flex;
  align-items: center;
}
.coat_photo img{
  display: flex;
  margin: 0px 0px 0px 5px;
}
.info div{
  margin: 10px 40px 0px 0px;
}
.info_block button{
  margin: 0px 3px 3px 3px;
  width: 70px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 15px;
  font-weight: 500;
  font-family: inherit;
  background-color: #1f252d;
  cursor: pointer;
  transition: border-color 0.25s;
  color:rgb(179, 177, 177);
}
.info_block button:hover{
  background-color: #0d1014;
}
.borders{
  max-width: 600px;
}
.tab_buttons{
  display: flex;
  width: 100%;
  margin: 15px 0px 0px 0px;
}

.tab_btn{
  cursor: pointer;
  padding: 10px;
  border-radius: 7px;
  color: #f3ebeb;
  font-family: Montserrat;
  margin: 0px 10px 0px 0px;
  font-size: 15px;
  background: rgb(7, 17, 4);
}
.active_tab_btn{
  outline: 4px solid rgb(6, 70, 6);

}

@media(max-width: 1050px){
  .country_information_box{
    display: flex;
    flex-direction: column;
  }
  .flags_block{
    margin: 0px 0px 0px 0px;

  }
  .info{
    flex-direction: column;
  }
}
@media(max-width: 680px){
  .flags{
    width: 400px;
  }
  .flags_block{
      display: flex;
      justify-content: center;
  }
}
@media(max-width: 430px){
  .flags{
    width: 250px;
  }

}